/*---------------- reset  ------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,fieldset, legend,caption,.filters ul li p, figure{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent; line-height:normal; font-weight:normal;}
html{height:100%;}
body{font-family:Helvetica,Arial,sans-serif; -webkit-font-smoothing:antialiased!important; line-height:1.54; color:#555;  height:100%; background-color:#f7f7f8; font-size:11px}
img{color:#f4f4f2;}
ol,ul,li{list-style:none; font-weight:lighter;}
br{clear:both}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
p{line-height:1.6em; font-weight:lighter;}
a{text-decoration:none; color:#777; font-weight:400; cursor:pointer;}
.submenu a:hover{color:#61A9FF;}
button{cursor:pointer}
strong{font-weight:700;}
.firsUp{text-transform:capitalize}
.tcenter{text-align:center}
.dnone, #winPlaza, .submenu, .barIn h1, .barIn strong, .barIn em, .barOut .heading, #popupQuick{display:none}
.dblock, .barOut h1{display:block}
.ml85{margin-left:85px;}
.ml270{margin-left:270px;}
.svgIcon{margin:0 22px 0 16px; width:28px;}
.barOut #navMenu li img{margin:0 10px 0 16px; width:28px; max-height:27px}
.barOut .In{border-bottom:1px solid #ccc;}
h1, h2, h3, h4{font-family: 'Lato', sans-serif; font-weight:300; color:#333}
.bckMark{background-color:#eee; border-bottom:1px solid #ccc; border-top:1px solid #ccc}
a:hover{color:cornflowerblue}
/*---------------- colores  ------------------*/


/*---------------- Generales  ------------------*/
.back{float:right; margin-right:10px}
#mainContainer{margin-top:50px;}
.mainBotton{background:#C82E29; border:1px solid #C82E29; color:#fff; font-size:16px; text-transform:uppercase; padding:8px 38px; border-radius:4px; float:right;}
.f100{float:left; width:100%;}
.wrapList{background:#fff; border-bottom:1px solid #e9e9e9; border-top:1px solid #e9e9e9; padding-top:95px; padding-bottom:20px}
.prel, .wrapList, .wrapListForm td{position:relative;}
.fleft, #search fieldset, #actions form{float:left;}
.pl65{padding-left:65px}
.fright{float:right;}
 #wrapPlus{float:right;}
header{position:fixed; width:100%; background-color:#fff; border-bottom:1px solid #c8c7cc; height: 65px!important; text-transform:uppercase;}
header nav{float:right; height:65px!important;}
#logoHeader{width:145px; margin-top:9px;}
.barIn{position:fixed; top:0px; background-color:#fff; border-right:1px solid #ccc; width:70px; height:100%; left:0px; z-index:9999}
.barOut{position:fixed; top:0px; background-color:#fff; border-right:1px solid #ccc; width:260px; height:100%; overflow-x:hidden; left:0px; z-index:99999;}
#popupPref{position:absolute; top:39px; right:20px; z-index:99; background-color:#2B3034; width:200px; display:none}
#popupPref li{float:left; width:100%; border-bottom:1px solid #1A1C1E}
#popupPref li a{color:#fff; font-weight:400; padding:6px 20px; font-size: 12px; text-transform:capitalize; float:left; width:100%;}
#popupPref li a:hover{background:#111; text-decoration:none}
#senial{position:absolute; top:-10px; right:20px;}
#settings, #obPref{float:right; position:relative; border-left:1px solid #fff; border-right:1px solid #fff; padding:15px 8px 0 8px; height:64px!important; cursor:pointer}
#settings:hover, #add:hover, #obPref:hover{background-color:#fafafa; border-left:1px solid #ddd; border-right:1px solid #ddd;}
#add{float:left; border:none; background:transparent; padding:15px 0; height:64px !important; border-left:1px solid #fff; border-right:1px solid #fff;}
#add span{float:left; width:100%; margin-top:5px; font-weight:600; color:#777; text-transform:uppercase}
#preferences{float:right; padding:26px 20px 0 60px; height:65px!important;}
#notifBar{width:80px; text-align:center; padding:1px }
#sets{width:80px; text-align:center; padding:1px }
#notifBar img, #sets img, #add img{width:20px; margin-bottom:1px; height:19px}
#notifBar span, #sets span{float:left; width:100%; margin-top:5px; font-weight:600; color:#777;}
.cheers span{position:absolute; background-color:#eee; padding:10px; border-radius:50%; top:-14px; left:-50px;}
.wrapOpen{float:left; width:100%; padding-left:70px;}
.arrowLeft{border:none; text-indent:-99999px; position:fixed; background:url(../graphics/menuSprite.png) 20px 20px no-repeat; width:69px; height:65px !important; padding:14px; border-bottom:1px solid #c8c7cc;}
.arrowRight{border:none; text-indent:-99999px; background:url(../graphics/menuSprite.png) -54px 20px no-repeat #fff; width:244px; height:64px !important; padding:14px;}
.arrowLeft:hover{background:url(../graphics/menuSprite.png) 20px 20px no-repeat #eee;}
#navMenu svg{width:32px}
#padMenu{padding-top:64px;}
.barIn .main{float:left; width:69px; padding:14px 5px; cursor:pointer; position:relative}
.barOut#navMenu li{float:left; width:260px; padding:15px 5px; cursor:pointer}
.barOut .main{float:left; width:260px; padding:13px 5px; cursor:pointer}
#navMenu li img{float:left}
#navMenu li strong, #navMenu li em{line-height:26px; padding-top:4px; float:left; text-transform:uppercase; font-weight:600; cursor:pointer; font-style:normal; color:#777; width:196px}
.main:hover{background:#eee}
#navMenu h1{float:left; width:100%; padding:15px 20px; background:#007aff; border-bottom:1px solid #ccc; font-size:22px; overflow:hidden; border-top:1px solid #c8c7cc; color:#fff; font-weight:400}
.wrapClose{margin-left:260px;}
#winRight{position:absolute; top:120px; right:-181px; display:none}
#actions{position:absolute; min-height:58px; left:17px; top:17px; width:96%; border:1px solid #B7E3FF; padding:10px 0; background-color:aliceblue; border-radius:4px;}
.barIn .submenu{position:absolute; font-size:14px; font-weight:300; top:-1px; left:69px; z-index:9999999; border:1px solid #ccc; width:265px; background:#fafafa;}
.barOut .submenu li a{font-family:'Lato', sans-serif; font-size:16px; font-weight:300;     padding:6px 0 7px 52px; float:left; width:100%; color:#333}
.submenu li{width:100%}
.heading{position:relative; background:#fff; padding:13px 0}
.heading img{position:absolute; top:0; left:-2px; padding:0px; height:59px !important;}
.barIn .submenu li {padding-left:30px}
.barIn .submenu li a{float:left; width:100%; padding:8px 0}
/*----------------Titulos ------------------*/
#mainTit{padding:26px 15px;}
#mainTit img{float:left; width:34px; margin-right:10px}
#mainTit h1, #mainTit h2, #mainTit h3, #mainTit h4{text-transform:uppercase}
#mainTit p{font-family:Lato,sans-serif; font-size:17px; padding:3px 0;}
.iconPlus img{width:20px; border-radius:4px; float:left; margin:4px 7px 3px 0;}
.addSmall{float:left; padding:3px 10px 3px 7px; text-transform:uppercase; border:1px solid #78C1FF; color:#333; height:35px!important; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-left:15px; background-color:#fff;}
.addSmall span{margin-top:8px; float:left;}
.addSmall:hover{background:#ccc: color:#333; box-shadow:1px 0px 3px 0px lightskyblue; -moz-box-shadow:1px 0px 3px 0px lightskyblue; -webkit-box-shadow:1px 0px 3px 0px lightskyblue; }
.iconEdit img{width:16px}
.wrapListForm{margin-left:17px; border:1px solid #eee; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-bottom:20px; padding:20px; width:96%;}
.wrapListForm thead th{font-family:'Lato', sans-serif; font-weight:300; color:#333; font-size:18px; border-bottom: 1px solid #ddd; padding: 10px 0 10px 10px;}
.secmainTit{font-family:'Lato', sans-serif; font-weight:300; color:#333; font-size:18px; padding: 0 0 0 10px; float:left; width:100%;}
.bigInp{float:left; border:1px solid #fff; margin:6px 0 0; height:25px; padding:0 10px; width:100%; border-radius:4px; text-transform:uppercase;  padding:0 10px; color:cornflowerblue;}

.selSma{position:absolute; left:2px;height:35px;border:1px solid #fff; background-color:#fff; width:50px; text-transform:uppercase; color:cornflowerblue; border-right:1px solid #ddd; border-radius:0;-webkit-appearance: none; -moz-appearance: none; padding-left:15px}
.medInp{float:left; width:100%; height:34px; margin-top:1px; border:1px solid #fff; border-left:1px solid #ddd; text-transform:uppercase; color:cornflowerblue; padding:0 10px}
.medInpSpe{float:left; width:100%; height:34px; margin-top:1px; border:1px solid #fff; text-transform:uppercase; color:cornflowerblue; padding-left:65px}
.selBig, .selMed, .selExtra{float:left; border:none; height:33px; margin-top:2px; background-color:#fff; width:100%; text-transform:uppercase; color:cornflowerblue; border-radius:0;-webkit-appearance: none; -moz-appearance: none; padding-left:15px}
.delToolSmall{border-top:1px solid #ddd}
.wrapListForm table{border:1px solid #ddd; float:left; width:100%}
.wrapListForm tr{border:1px solid #ddd;}
.wrapListForm label{text-align:left; padding:10px 15px 6px 26px; text-transform:uppercase; float:left; width:100%;}
.grayField{background:#eee}
.plus{position:absolute; top:0px; right:0px; border-left:1px solid #ddd; height:34px !important; background-color:#fff;}
.plus img, .plusTwo img{width:20px; margin:8px; cursor:pointer}
.plusTwo{position:absolute; top:0px; right:0px; border-left:1px solid #ccc; height:36px !important}
.iconDelete img{width:30px; background-color:#007aff; padding:4px; max-height:28px; border-radius:4px; position:absolute; right:45px; top:4px;}
#masPlazas{float:left; width:100%; border-bottom:1px solid #ddd;}
.obli{color:#c30; font-size:18px; line-height:9px}
.texBig{float:left; width:100%; border:1px solid #ccc; margin:15px 0; padding:8px 15px; height:62px}
.proImg img{width:22px; height:19px}
#solicitud{background-color:#C82E29;color:#fff;border-radius:50%;padding:2px 5px;font-weight:700; font-style:normal;position:absolute;top:6px;right:28px}
#cotLoc{margin-top:6px; font-size:11px; border:none; background-color:#fff; text-transform: uppercase;}
#folioAgenerar{color:cornflowerblue; padding:0 10px}
.botCart input{margin-right:5px}
.botCart label{margin-top:3px}

/*---------------- Login  ------------------*/
.login{position:relative;margin:150px auto 0;padding:20px;width:420px;background:#fff}
.login h1{margin:-20px -20px 21px;padding:21px 0 15px;font-size:18px;font-weight:lighter;color:#555;text-align:center;text-shadow:0 1px #fff;background:#f3f3f3;border-bottom:1px solid #cfcfcf;border-radius:8px 8px 0 0;background-image:-webkit-linear-gradient(top,whiteffd,#eef2f5);background-image:-moz-linear-gradient(top,whiteffd,#eef2f5);background-image:-o-linear-gradient(top,whiteffd,#eef2f5);background-image:linear-gradient(to bottom,whiteffd,#eef2f5);-webkit-box-shadow:0 1px #f5f5f5;box-shadow:0 1px #f5f5f5}
.login p{margin:20px 0 0}
.login p:first-child{margin-top:0}
.bckIndex input[type=text],input[type=password]{margin:5px;padding:0 10px;height:40px;color:#404040;background:#fff;border:1px solid;border-color:#c4c4c4 #d1d1d1 #d4d4d4;border-radius:2px;outline:#eff4f7 solid 5px;-moz-outline-radius:3px;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.12);box-shadow:inset 0 1px 3px rgba(0,0,0,.12)}
.login input[type=password], .login input[type=text]{width:385px}
.bckIndex input{font-family:'Lucida Grande',Tahoma,Verdana,sans-serif;font-size:14px}
.login p.submit{text-align:right}
.bckIndex{font:13px/20px 'Lucida Grande',Tahoma,Verdana,sans-serif;color:#404040;background:url(../graphics/blurbcks/07.png) top center no-repeat}
.bckIndex input[type=submit]{cursor:pointer;background:#fbd568;background:-moz-linear-gradient(#fbd568,#ffb347);background:-ms-linear-gradient(#fbd568,#ffb347);background:-o-linear-gradient(#fbd568,#ffb347);background:-webkit-gradient(linear,0 0,0 100%,from(#fbd568),to(#ffb347));background:-webkit-linear-gradient(#fbd568,#ffb347);background:linear-gradient(#fbd568,#ffb347);border:1px solid #f4ab4c;color:#996319;text-shadow:0 1px rgba(255,255,255,.3);width:100%;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;height:42px;font-size:18px}
.login-help{margin:20px 0;font-size:11px;color:#fff;text-align:center;text-shadow:0 1px #2a85a1}
.login-help a{color:#fff;margin-left:5px;text-decoration:none;font-weight:700;font-size:14px}
.login:before{content:'';position:absolute;top:-8px;right:-8px;bottom:-8px;left:-8px;z-index:-1;background:rgba(0,0,0,.08);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.botCart{float:left; margin-right:10pxf}
.calInp{position:absolute; top:8px; width:16px; right:7px; z-index: 9999;}

/*---------------- pdf cartas intencion  ------------------*/
.pdf-container{padding:20px 20px 0;font-size:10px;font-family:"Myriad Pro",arial,helvetica,sans-serif!important}
.underline-text{text-decoration:underline;font-weight:700}
hr.signing{margin-bottom:0;border-color:#000}
.small-text{font-size:9px}
#adjustWrapBlack form{float:left;width:730px;background:#fff;padding:30px;margin-top:15px;box-shadow:0 4px 7px #000;-moz-box-shadow:0 4px 7px #000;-webkit-box-shadow:0 4px 7px #000}


/*---------------- Botones ------------------*/


/*---------------- Layouts  ------------------*/


/*---------------- Secciones  ------------------*/

/*---------------- Login  ------------------*/

/*---------------- Dashboard ------------------*/


@media (min-width:640px) {

}

@media (min-width:768px) {

}

@media (min-width:1024px) {
  .wrapListForm fieldset .right{width:458px; border-bottom:1px solid #ddd;}
  .wrapLabel label{float:left; width:200px}
}

@media (min-width:1280px) {

}

@media (min-width:1366px) {

}

@media (min-width:1680px) {

}
