/*---------------- reset  ------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,fieldset, legend,caption,.filters ul li p, figure{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent; line-height:normal; font-weight:normal;}
html{height:100%;}
body{font-family:Helvetica,Arial,sans-serif; -webkit-font-smoothing:antialiased!important; line-height:1.54; color:#555;  height:100%; font-size:11px}
img{color:#f4f4f2;}
ol,ul,li{list-style:none; font-weight:lighter;}
br{clear:both}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
p{line-height:1.6em; font-weight:lighter;}
a{text-decoration:none; color:#777; font-weight:400; cursor:pointer;}
.submenu a:hover{color:#61A9FF;}
button, #choTip{cursor:pointer}
strong{font-weight:700;}
.firsUp{text-transform:capitalize}
.tcenter{text-align:center}
.dnone, .submenu, .barIn h1, .barIn strong, .barIn em, .barOut .heading, #popupQuick, #rigWinClose{display:none}
.barOut .heading h3{float:left; padding-left:30px; display:block}
.dblock, .barOut h1{display:block}
.ml85{margin-left:85px;}
.ml270{margin-left:270px;}
.mt10{margin-top:13px}
.svgIcon{margin:0 22px 0 19px; width:24px;}
.barOut #navMenu li img{margin:4px 10px 0 16px; width:20px; max-height:19px}
.barOut .In{border-bottom:1px solid #ccc;}
h1, h2, h3, h4{font-family: 'Lato', sans-serif; font-weight:300; color:#777; font-size:23px}
.bckMark{background-color:#f0f8ff}
a:hover{color:cornflowerblue}
.alertTab{color:brown; font-weight:700}
.ohid{overflow:hidden}

/*---------------- Cargador ------------------*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../graphics/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.no-js #loader {display:none; }
.js #loader {display:block; position:absolute; left:100px; top:0; }
.se-pre-con {position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:99999999999; background:#fff;}

/*---------------- Plantilla ------------------*/
/*---------------- Botones ------------------*/
.darkBottom{background:#007aff; border: 1px solid #007aff; padding:5px 20px; color:#fff; font-size:13px; text-transform:uppercase; font-weight:700; border-radius:4px; cursor:pointer}
.darkBottom:hover{background:#0060C8}

/*---------------- Generales  ------------------*/
.none{display:none}
#bckWhite{background-color:#f7f7f8;} #bckDark{background:#333}
#mainContainerBlack{background:#fff; margin:110px auto 0; width:730px}
.back{float:right; margin-right:10px}
#mainContainer{margin-top:50px;}
.mainBottonSma:hover{background: #005ec4; /* Old browsers */
background: -moz-linear-gradient(top, #005ec4 0%, #007aff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005ec4), color-stop(100%,#007aff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #005ec4 0%,#007aff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #005ec4 0%,#007aff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #005ec4 0%,#007aff 100%); /* IE10+ */
background: linear-gradient(to bottom, #005ec4 0%,#007aff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ec4', endColorstr='#007aff',GradientType=0 );}
.mainBottonSma{background: #007aff; /* Old browsers */
background: -moz-linear-gradient(top, #007aff 15%, #007aff 15%, #0079f2 74%, #005ec4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#007aff), color-stop(15%,#007aff), color-stop(74%,#0079f2), color-stop(100%,#005ec4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* IE10+ */
background: linear-gradient(to bottom, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#005ec4',GradientType=0 );
border:1px solid #005ec4; color:#fff; font-size:12px; font-weight:700; text-transform:uppercase; padding:8px 32px 6px 32px; border-radius:4px; float:right; margin-top:10px;}
.mainBotton{background:#C82E29; border:1px solid #C82E29; color:#fff; font-size:13px; font-weight:700; text-transform:uppercase; padding:10px 32px 8px 32px; border-radius:4px; float:right;}
.mainBottonSmaDes{background: #007aff; /* Old browsers */
background: -moz-linear-gradient(top, #007aff 15%, #007aff 15%, #0079f2 74%, #005ec4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#007aff), color-stop(15%,#007aff), color-stop(74%,#0079f2), color-stop(100%,#005ec4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* IE10+ */
background: linear-gradient(to bottom, #007aff 15%,#007aff 15%,#0079f2 74%,#005ec4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#005ec4',GradientType=0 );
border:1px solid #005ec4; color:#fff; font-size:12px; font-weight:700; text-transform:uppercase; padding:8px 32px 6px 32px; border-radius:4px; float:left;}
.mainBotton:hover{background: #c47d7d; /* Old browsers */
background: -moz-linear-gradient(top, #c47d7d 0%, #c82e29 42%, #a80200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c47d7d), color-stop(42%,#c82e29), color-stop(100%,#a80200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c47d7d 0%,#c82e29 42%,#a80200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c47d7d 0%,#c82e29 42%,#a80200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c47d7d 0%,#c82e29 42%,#a80200 100%); /* IE10+ */
background: linear-gradient(to bottom, #c47d7d 0%,#c82e29 42%,#a80200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c47d7d', endColorstr='#a80200',GradientType=0 );}
.mainBotton:active{background:#A80200}
.f100{float:left; width:100%;}
.wrapList{background:#fff; border-bottom:1px solid #e9e9e9; border-top:1px solid #e9e9e9; padding-top:95px;a}
.prel, .wrapList, .wrapListForm td, .dataInf{position:relative;}
.fleft, #search fieldset{float:left;}
.pl10{padding-left:10px}
.pl65{padding-left:65px}
.fright{float:right;}
 #wrapPlus{float:right;}
header{position:fixed; width:100%; background-color:#fff; border-bottom:1px solid #c8c7cc; height: 65px!important; text-transform:uppercase; z-index:99999}
header nav{float:right; height:65px!important;}
#logoHeader{width:145px; margin-top:9px;}
#logoSmall{width:146px; position:absolute; left:10px; top:9px;}
#bar{position:fixed; top:0px; background-color:#fff; border-right:1px solid #ccc; height:100%; left:0px; z-index:99999999;}
.barIn{width:70px;}
.barOut{width:260px;overflow-x:hidden;}
#popupPref{position:absolute; top:38px; border:1px solid #fff; right:-3px; z-index:99; background-color:#fff; width:200px; display:none; border:1px solid #ccc;}
#popupPref li{float:left; width:100%; border-bottom:1px solid #ccc}
#popupPref li a{font-weight:400; padding:8px 20px 6px; text-transform:uppercase; float:left; width:100%;}
#popupPref li a:hover{background:#eee; text-decoration:none}
#senial{position:absolute; top:-10px; right:20px;}
#settings, #obPref{float:right; position:relative; border-left:1px solid #fff; border-right:1px solid #fff; padding:15px 8px 0 8px; height:64px!important; cursor:pointer}
#settings:hover, #add:hover, #obPref:hover{background-color:#fafafa; border-left:1px solid #ddd; border-right:1px solid #ddd;}
#add{float:left; border:none; background:transparent; padding:15px 0; height:64px !important; border-left:1px solid #fff; border-right:1px solid #fff;}
#add span{float:left; width:100%; margin-top:5px; font-weight:600; color:#777; text-transform:uppercase}
#preferences{float:right; padding:26px 20px 0 60px; height:65px!important;}
#notifBar{width:80px; text-align:center; padding:1px }
#sets{width:80px; text-align:center; padding:1px;}
#notifBar img, #sets img, #add img{width:20px; margin-bottom:1px; height:19px}
#notifBar span, #sets span{float:left; width:100%; margin-top:5px; font-weight:600; color:#777;}
.cheers span{position:absolute; background-color:#eee; padding:10px; border-radius:50%; top:-14px; left:-50px;}
.wrapOpen{float:left; width:100%; padding-left:70px;}
.arrowLeft{border:none; text-indent:-99999px; position:fixed; background:url(../graphics/menuSprite.png) 20px 21px no-repeat; width:69px; height:65px !important; padding:14px; border-bottom:1px solid #c8c7cc; z-index:99999999999;}
.arrowRight{border:none; text-indent:-99999px; background:url(../graphics/menuSprite.png) 218px 22px no-repeat #fff; z-index:99999999999; width:244px; height:64px !important; padding:14px;}
.arrowLeft:hover{background:url(../graphics/menuSprite.png) 20px 21px no-repeat #eee;}
#navMenu svg{width:32px}
.barIn #padMenu{padding-top:64px; float:left; height:65px !important}
.barIn .main{float:left; width:69px; padding:14px 5px; cursor:pointer; position:relative}
.barOut #navMenu li{float:left; width:275px; padding:10px 5px 0 0; cursor:pointer}
.barOut .main{float:left; width:260px; padding:13px 5px 0 0; cursor:pointer}
#navMenu li img{float:left}
#navMenu li strong, #navMenu li em{line-height:28px; padding:2px 0; float:left; font-size:14px; font-weight:200; cursor:pointer; font-style:normal; width:215px; border-bottom:1px solid #ccc;}
.bckMarkActive{background:#eee; box-shadow:inset 0px 1px 20px -7px #777; -webkit-box-shadow:inset 0px 1px 20px -7px #777; -moz-box-shadow:inset  0px 1px 20px -7px #777;}
.bckMark em{border-bottom:1px solid #f0f8ff !important}
.main:hover{background:#eee}
#navMenu h1{float:left; width:100%; padding:15px 20px; background:#007aff; border-bottom:1px solid #ccc; font-size:20px; overflow:hidden; border-top:1px solid #c8c7cc; color:#fff; font-weight:400}
.wrapClose{margin-left:260px;}
#winRight{position:absolute; top:120px; right:-181px; display:none}
#actions{position:absolute; min-height:52px; left:17px; top:17px; width:96%; border:1px solid #B7E3FF; padding:8px 0; background-color:#f0f8ff; border-radius:4px;}
.barIn .submenu{position:absolute; font-size:14px; font-weight:300; top:-1px; left:69px; z-index:9999999; border:1px solid #ccc; width:265px; background:#fafafa;}
.barOut .submenu{float:left; border-bottom:1px solid #ccc; background:url(../graphics/bckLineTree.png) 25px 18px repeat-y transparent;}
.barOut .submenu li{padding:0 !important}
.barOut .submenu li a{font-family:'Lato', sans-serif; font-size:13px; font-weight:200; padding:7px 0 7px 43px; float:left; width:100%; color:#000; border-left:3px solid #007aff}
.barOut .submenu li a:hover{background:#007aff; color:#fff; font-weight:700}
.submenu li{float:left; width:100%}
.barIn .submenu li{padding-left:30px; }
.submenu li:hover{background:#eee}
.heading:hover{background:#fff!important;}
.heading{position:relative; background:#fff; padding:13px 0}
.heading img{position:absolute; top:0; left:-2px; padding:0px; height:50px !important;}
.barIn .submenu li {padding-left:30px}
.barIn .submenu li a{float:left; width:100%; padding:8px 0}
#actionsPdf{position:absolute; top:65px;}
.pisos{background:#f0f8ff; float:left; width:100%; text-transform:uppercase}
.pisos a{color:#555; font-size:11px; border-right:1px solid #B7E3FF; border-left:1px solid #B7E3FF;}
#asigPi{background:#eee; border-right:1px solid #B7E3FF;}
#asigPi ul{float:left; border-right:1px solid #B7E3FF;}
#asigPi li{float:left;} #asigPi li a{font-weight:700; color:#555; width:70px; text-align:center; border-left:1px solid #B7E3FF; text-transform:uppercase; background:#f0f8ff}
#asigPi li a:hover{background:#D8EDFF; color:#222}
#tablaPlano tbody tr:hover{background-color:#eee}
table tbody tr:hover{background-color:#fafafa}
/*----------------Titulos ------------------*/
#mainTit{padding:26px 15px;}
#mainTitPlano{padding:26px 15px;}
#mainTit img{float:left; width:34px; margin-right:10px}
#mainTit h1, #mainTit h2, #mainTit h3, #mainTit h4{text-transform:uppercase}
#mainTitPlano h1, #mainTitPlano h2, #mainTitPlano h3, #mainTitPlano h4{text-transform:uppercase; font-size:18px}
#mainTit p{font-family:Lato,sans-serif; font-size:16px; padding:3px 0;}
#mainTit strong{font-weight:400; color:#777}
.iconPlus img{width:20px; border-radius:4px; float:left; margin:4px 7px 3px 0; max-height:20px}
.countRed{background-color: #C82E29; color: #fff; border-radius:50%; padding:2px 5px; font-weight:700; font-style:normal; position:absolute; top:-6px; right:-6px;}
.addSmall{float:left; position:relative; padding:3px 10px 3px 7px; text-transform:uppercase; border:1px solid #78C1FF; color:#333; height:35px!important; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-left:15px; background:#fff;}
.addSmallGray{float:left; position:relative; padding:6px 10px; text-transform:uppercase; border:1px solid #ccc; color:#333; height:26px!important; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-left:10px; background:url(../graphics/bckGray.png) 0 -29px repeat-x #fff;}
.addSmallGray:hover, .addSmallGrayBot:hover, #choTip a:hover{border:1px solid #78C1FF; background:url(../graphics/bckGray.png) 0 0px repeat-x #fff;}
.addSmall span{margin-top:8px; float:left; font-style:normal}
.addSmall:hover{border:1px solid #ccc; background:#fff; /* Old browsers */
background:-moz-linear-gradient(top, #ffffff 1%, #f0f9ff 56%, #cbebff 99%, #cbebff 99%, #a1dbff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(56%,#f0f9ff), color-stop(99%,#cbebff), color-stop(99%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 1%,#f0f9ff 56%,#cbebff 99%,#cbebff 99%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 1%,#f0f9ff 56%,#cbebff 99%,#cbebff 99%,#a1dbff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 1%,#f0f9ff 56%,#cbebff 99%,#cbebff 99%,#a1dbff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 1%,#f0f9ff 56%,#cbebff 99%,#cbebff 99%,#a1dbff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1dbff',GradientType=0 ); color:#222; box-shadow:1px 0px 3px 0px lightskyblue; -moz-box-shadow:1px 0px 3px 0px lightskyblue; -webkit-box-shadow:1px 0px 3px 0px lightskyblue; }
.active{-webkit-box-shadow:inset 7px 10px 14px -14px rgba(0,0,0,0.75);
-moz-box-shadow: inset 7px 10px 14px -14px rgba(0,0,0,0.75);
box-shadow: inset 7px 10px 14px -14px rgba(0,0,0,0.75); }
.active span{font-weight:700; color:#555}
.addSmall:active{background:aliceblue;}
.iconEdit img{width:16px; margin-top:2px}
#wrapListPlano{height:640px}
.wrapListForm{margin-left:17px; border:1px solid #eee; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-bottom:20px; padding:20px; width:96%;}
.wrapListForm tbody{border:1px solid #ccc;}
.wrapListForm thead th{font-family:'Lato', sans-serif; font-weight:300; color:#333; font-size:18px; border-bottom: 1px solid #ddd; padding:10px 0 10px 10px;}
.secmainTit{font-family:'Lato', sans-serif; font-weight:300; color:#333; font-size:18px; padding: 0 0 0 10px; float:left; width:100%;}
.bigInp{float:left; border:1px solid #fff; height:30px; padding:6px 10px 0; width:100%; border-radius:4px; text-transform:uppercase;  color:cornflowerblue;}
.thbr thead th{ padding:0 0 6px 10px; font-size:13px; font-weight:700}
.thbr tbody a{float:left; width:100%; padding:6px 13px;}
.selSma{position:absolute; left:2px;height:35px;border:1px solid #fff; background-color:#fff; width:50px; text-transform:uppercase; color:cornflowerblue; border-right:1px solid #ddd; border-radius:0;-webkit-appearance: none; -moz-appearance: none; padding-left:15px}
.medInp{float:left; width:100%; height:34px; margin-top:1px; border:1px solid #fff; border-left:1px solid #ddd; text-transform:uppercase; color:cornflowerblue; padding:0 10px}
.medInpSpe{float:left; width:100%; height:34px; margin-top:1px; border:1px solid #fff; text-transform:uppercase; color:cornflowerblue; padding-left:65px}
.selBig, .selMed, .selExtra{float:left; border:none; height:33px; margin-top:2px; background-color:#fff; width:100%; text-transform:uppercase; color:cornflowerblue; border-radius:0; -webkit-appearance: none; -moz-appearance:none; padding-left:15px}
.delToolSmall{border-top:1px solid #ddd}
.wrapListForm table{float:left; width:100%}
.wrapListForm tr{border-bottom:1px solid #ddd;}
.wrapListForm label, .wrapListForm strong{text-align:left; padding:10px 15px 6px 26px; text-transform:uppercase; font-weight:400; float:left; width:100%;}
.wrapListForm td p{float:left; width:100%; padding:0 10px; text-transform:uppercase}
.grayField{background:#eee}
.plus{position:absolute; top:0px; right:0px; border-left:1px solid #ddd; height:34px !important; background-color:#fff;}
.plus img, .plusTwo img{width:20px; margin:8px; cursor:pointer}
.plusTwo{position:absolute; top:0px; right:0px; border-left:1px solid #ccc; height:36px !important}
.iconDelete img{width:30px; background-color:#007aff; padding:4px; max-height:28px; border-radius:4px; position:absolute; right:45px; top:2px;}
.iconDeleteT img, .iconEditT img{margin:4px 10px 0 0; width:34px; background-color:#007aff; padding:6px; max-height:32px; border-radius:4px; float:right;}
.iconDeleteT img:hover, .iconEditT img:hover{background:#0060C8;}
#masPlazas{float:left; width:100%; border-bottom:1px solid #ddd;}
.obli{color:#c30; font-size:18px; line-height:9px}
.texBig{float:left; width:100%; border:1px solid #ccc; margin:15px 0; text-transform:uppercase; padding:8px 15px; height:62px}
.proImg img{width:22px; height:19px}
#solicitud{background-color:#C82E29;color:#fff;border-radius:50%;padding:2px 5px;font-weight:700; font-style:normal;position:absolute;top:6px;right:28px}
#cotLoc{margin-top:6px; padding:3px 0 0; font-size:11px; border:none; background-color:transparent; text-transform: uppercase;}
#folioAgenerar{color:cornflowerblue; padding:0 10px}
.botCart input{margin-right:5px}
.botCart label{margin-top:3px}
#devCan{text-transform:uppercase; font-weight:700; padding:10px 10px 10px; float:left; width:100%; margin-bottom:20px; background-color:#eee; border-radius:4px; border:1px solid #ccc;}
#devCan input{float:left; margin-right:10px; cursor:pointer}
#devCan span{float:left; font-size:1.1em; margin-top:4px}
.wrapListForm fieldset{float:left; width:100%; background:#f0f8ff; padding:15px}
#archivoDevolucion{border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 10px 0; margin-bottom: 20px;}
#archivoDevolucion span{float:left; font-size:1.1em; text-transform:uppercase; margin:3px 10px;}
.svgPdf img{width:18px; float:left;}
.svgPdf span{float:left; margin:5px 0 0 10px; font-size:.9em; font-weight:700}
.msgFlash{margin-left:17px; border:1px solid #eee; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-bottom:10px; padding:10px 20px; width:96%; min-height:44px!important;}
.msgFlash img{float:left; margin-right:10px;}
.msgFlash strong{font-size:12px; margin-top:5px; float:left; text-transform:uppercase; color:brown;}
#enviarFirma:hover{background:#ccc: color:#333; box-shadow:5px 0px 11px 2px #ccc; -moz-box-shadow:5px 0px 11px 2px #ccc; -webkit-box-shadow:5px 0px 11px 2px #ccc; border:1px solid #fff;}
#enviarFirma{border:1px solid #fff;}
.botCart{float:left; margin-right:10pxf}
.calInp{position:absolute; top:8px; width:16px; right:7px; z-index: 999;}

/*---------------- Login  ------------------*/
.conLog{position:absolute; top:150px; width:430px;  margin-left:-215px; left:50%; text-align:center; font-family: 'Oswald', sans-serif; }
.bckIndex{font:13px/20px 'Lucida Grande',Tahoma,Verdana,sans-serif;color:#404040;background:url(../graphics/blurbcks/13.jpg) center no-repeat}
.login{float:left; width:100%; background:#fff; padding-bottom: 20px; border-bottom:4px solid #4F9CD4; border-top:4px solid #4F9CD4; border-radius:5px; box-shadow:2px 5px 14px #333; -webkit-box-shadow:2px 5px 14px #333; -moz-box-shadow:2px 5px 14px #333;}
.login h1{font-size:26px; color:#fff; font-weight:400; font-family: 'Oswald', sans-serif; float:left; width:100%;}
.login p{font-size:13px; float:left; padding-top:4px; color:#fff; font-family: 'Oswald', sans-serif; font-weight:300; float:left; width:100%;}
.login span{padding:20px; background-color:#4F9CD4; float:left; text-transform:uppercase;}
#loginForm form{float:left; padding:20px 0;}
#loginForm label{display:block; color:#666; text-align:left; padding:20px 0 8px 10px; text-transform: uppercase; font-weight:300;font-size:17px}
#loginForm p{float:left; width:390px; padding:0 20px}
.inpLog{height:38px; font-size:13px; border:1px solid #ccc; background:#f9f9f9; padding:0 10px; width:370px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.submit input{cursor:pointer; background:#5db2ed; background:-moz-linear-gradient(top, #5db2ed 1%, #2989d8 94%, #7db9e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5db2ed), color-stop(94%,#2989d8), color-stop(100%,#7db9e8)); background: -webkit-linear-gradient(top, #5db2ed 1%,#2989d8 94%,#7db9e8 100%);
    background: -o-linear-gradient(top, #5db2ed 1%,#2989d8 94%,#7db9e8 100%);
    background: -ms-linear-gradient(top, #5db2ed 1%,#2989d8 94%,#7db9e8 100%);
    background: linear-gradient(to bottom, #5db2ed 1%,#2989d8 94%,#7db9e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ed', endColorstr='#7db9e8',GradientType=0 );
    border: 1px solid #2989d8; color:#fff; font-size:14px; font-weight: 700;
    text-transform: uppercase;  padding: 12px 0; width:316px; border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin: 20px auto 0 auto;}
.submit:hover input{background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top, #2989d8 0%, #2989d8 93%, #7db9e8 100%, #7db9e8 101%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(93%,#2989d8), color-stop(100%,#7db9e8), color-stop(101%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2989d8 0%,#2989d8 93%,#7db9e8 100%,#7db9e8 101%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2989d8 0%,#2989d8 93%,#7db9e8 100%,#7db9e8 101%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2989d8 0%,#2989d8 93%,#7db9e8 100%,#7db9e8 101%); /* IE10+ */
background: linear-gradient(to bottom, #2989d8 0%,#2989d8 93%,#7db9e8 100%,#7db9e8 101%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#7db9e8',GradientType=0 ); }
#mesLog{color:#fff; float:left; width:100%; margin:20px 0; font-size:16px; font-weight:300}
#mesLog a{color:#fff; font-weight:400}

/*---------------- pdf cartas intencion  ------------------*/
.pdf-container{padding:20px 20px 0;font-size:10px;font-family:"Myriad Pro",arial,helvetica,sans-serif!important}
.underline-text{text-decoration:underline;font-weight:700}
hr.signing{margin-bottom:0;border-color:#000}
.small-text{font-size:7px}
#adjustWrapBlack form{float:left;width:730px;background:#fff;padding:30px;margin-top:15px;box-shadow:0 4px 7px #000;-moz-box-shadow:0 4px 7px #000;-webkit-box-shadow:0 4px 7px #000}

/*---------------- MODAL PERSONALIZADO HTML5------------------*/
.modal-box{display:none;position:absolute;z-index:1000;width:600px;background:#fff;border-bottom:1px solid #aaa;border-radius:4px;box-shadow:0 3px 9px rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1);background-clip:padding-box;padding:20px}
.modal-box fieldset{float:left; margin-right:4px}
.modal-box header,.modal-box .modal-header{padding:1.25em 1.5em;border-bottom:1px solid #ddd}
.cerrar img{width:16px}
.modal-box h3{margin-bottom:5px; display:block; font-weight:400}
.modal-box p{font-size:14px;}
.modal-box .modal-body{padding:2em 0}
.modal-box footer,.modal-box .modal-footer{padding:1em;border-top:1px solid #ddd;background:rgba(0,0,0,0.02);text-align:right}
.modal-overlay{opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0;z-index:900;width:100%;height:100%;background:rgba(0,0,0,0.3)!important}
a.cerrar{line-height:1;font-size:1.5em;position:absolute;top:7%;right:2%;text-decoration:none;color:#bbb}
a.cerrar:hover{color:#222;-webkit-transition:color 1s ease;-moz-transition:color 1s ease;transition:color 1s ease}
#firma{float:left; width:100%; height:34px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #ccc;}
#hideTy{float:left; width:216px; height:63px; background:url(../graphics/firma.png); overflow:hidden; cursor:pointer}
#hideTy input{display: block !important; width:216px !important; height:63px !important; opacity: 0 !important; overflow: hidden !important; cursor:pointer}
#comenW{background-color:#eee; border:1px solid #ccc; border-radius:4px; padding:10px; float:left; width:100%; margin-top:10px}
.panelLeft{float:right; background:url(../graphics/rArrows.png) 8px 22px no-repeat; height:64px !important; border:none; border-left:1px solid #ccc; text-indent:-999999px; width:30px;}
.panelRight{float:right; background:url(../graphics/rArrows.png) 8px -153px no-repeat #007aff; height:64px !important; border:none; border-left:1px solid #ccc; text-indent:-999999px; width:30px;}
.panelRight:hover{background:url(../graphics/rArrows.png) 8px -55px no-repeat #007aff;}
.panelLeft:hover{background-color:#eee;}
#triangle{background:url(../graphics/rArrows.png) center -31px no-repeat;     height:40px; float:left; max-width:100px; text-overflow:ellipsis; white-space: nowrap; overflow:hidden; font-style:normal}
.msgAlert{float:left; padding:0 10px 5px;margin:0 0 10px 17px; font-weight: 400; text-transform:uppercase;}
.msgAlert img{float:left; margin-right:5px;}
.msgAlert p{float:left; margin-top:5px; font-weight:700}
#msgRecAgr{float:left; border:1px solid #ccc; width:100%; margin-top:10px; position:relative;}
#msgRecAgr .msgForm{background:#eee; float:left; width:97%; text-transform:uppercase; padding:10px; margin:10px 20px 10px 15px}
.msgForm p{float:left; margin-top:4px; color:#000}
.msgForm img{float:left; margin-right:10px;}
.titFormMain{font-family:'Lato', sans-serif; font-weight:300; color:#333; font-size:18px; border-bottom: 1px solid #ddd; padding:10px 0 10px 10px; float:left; width:100%; margin-bottom:10px;}
.addSmallGrayBot{float:left; position:relative; padding:2px 10px; text-transform:uppercase; border:1px solid #ccc; color:#333; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:url(../graphics/bckGray.png) 0 -24px repeat-x #fff; cursor:pointer}
.addSmallGrayBot span{float:left; margin-top:8px}
#choTip{float:left; width:100%; height:100%; background:#fff; padding:15px 15px 5px 15px; display:none}
#choTip a{border:1px solid #ccc; padding:8px 20px; text-transform: uppercase; margin: 0 10px; background:url(../graphics/bckGray.png) 0 -24px repeat-x #fff; cursor:pointer; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
#closeCho, .closeData{width:14px; position:absolute; right:6px; top:6px; border:1px solid #ccc; background:#fff; padding:2px; cursor:pointer}
#closeCho:hover{border:1px solid #78C1FF;}
#choTip span{margin-bottom:10px; padding:20px 0px; border:1px solid #78C1FF; border-radius:4px; background:#f0f8ff; float:left; width:475px; position:relative}
.foDep{float:left; width:100%; border-bottom:1px solid #eee; padding:10px }
#forAja fieldset{float:left; width:100%; background: #f0f8ff; padding:0 15px 15px 15px; border-top: 1px solid #ddd;}
.dataInf .bigInp{background:#fff; cursor:pointer}
/*---------------- Botones ------------------*/


/*---------------- Layouts  ------------------*/


/*---------------- Secciones  ------------------*/

/*---------------- Login  ------------------*/

/*---------------- Dashboard ------------------*/

/*---------------- General ------------------*/
.error{
	color: red;
    padding-left: 10px;
}

@media (min-width:640px) {

}

@media (min-width:768px) {

}

@media (min-width:1024px) {
  .wrapListForm fieldset .right{width:458px; border-bottom:1px solid #ddd;}
  .wrapLabel label{float:left; width:200px}
}

@media (min-width:1280px) {

}

@media (min-width:1366px) {

}

@media (min-width:1680px) {

}
